body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* 320x640 */
@media (max-width: 480px) {
  body {
    background-image: url("res/pokemon_background_mobile_2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* 1280x720 */
@media (min-width: 481px) {
  body {
    background-image: url("res/pokemon_background_desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

button {
	background-color:#000000;
	border-radius:28px;
	border:0px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  margin: 10px;
  outline: none;
}

button:hover {
  background-color:#5c5c5c;
}

.main {
  margin: auto;
  text-align: center;
}

.container {
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup {
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 9;
  text-align: center;
  padding: 20px 20px;
  position: absolute;
}
