
/* The following line can be included in a src/App.scss */

$theme-colors: (
  'primary': black,
  'secondary': green,
);

.poke-button {
  padding: 20px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* 320x640 */
@media (max-width: 480px) {
  body {
    // background-image: url("res/pokemon_background_mobile_2.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    background: url("res/pokemon_background_mobile_2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* 1280x720 */
@media (min-width: 481px) {
  body {
    background: url("res/pokemon_background_desktop.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background-image: url("res/pokemon_background_desktop.png");
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-poke {
  @extend .rounded-pill, .px-4, .m-2;
}

.btn-poke-danger {
  @extend .btn-poke;
  background-color: red;
}
